
#blogContent{
    text-align: left;
    width: 50%;
    margin: auto;
    padding-top: 2%;
}

#blogContent img{
    width: 100%;
    height: auto;
}

#blogThumbTable{
    margin: auto;
    margin-right: 25%;
    margin-left: 25%;
}
#blogThumbTable td{
    max-width: 500px;
    width: 50%;
}
#blogThumbTable tr{
    width: 200px;
}
#blogThumbTable img{
    border-left: solid black;
    border-right: solid black;
    border-radius: 20%;

}
#blogThumbTable img{
    width: 200px;
    height: auto;
}
