.mainTable{
	margin: auto;
	/*border-collapse: collapse;*/
	border-spacing: 0px 5px;
}

table.mainTable th{
	/*width: 12%;*/
	background-color:  #41775C;
	word-wrap: break-word;
	max-width: 100px;
	padding-left: 3px;
	padding-right: 3px;
	
	border: solid 1px;
	
}
table.mainTable td{
	/*width: 12%;*/
	word-wrap: break-word;
	max-width: 500px;
	padding-left: 3px;
	padding-right: 3px;
	height:auto;
	
	border: solid 1px;
	
	
	
}

table.mainTable ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
}

table.mainTable tr{
	background-color: #192222;
}
table.mainTable tr:link { text-decoration: none; }
table.mainTable tr:visited { text-decoration: none; }
table.mainTable tr:hover { text-decoration: none; background-color: #2F3F3F; }
table.mainTable tr:active { text-decoration: none; }


table.mainTable td.beg{
	border-radius: 10px 0px 0px 10px;
}
table.mainTable td.end{
	border-radius: 0px 10px 10px 0px;
}

.findMeAtLink{}
.findMeAtLink img{
	width: 8ch;
	height: auto;
}
.linksPannel { 
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
}