:root {
  --corporate-navy: #003366;   /* Authority, professionalism */
  --corporate-green: #004B23;  /* Stability, tradition */
  --corporate-burgundy: #800020; /* Prestige, sophistication */
  --corporate-gray: #555555;   /* Seriousness, neutrality */
  --corporate-beige: #D6C6B2;  /* Conservative, timeless */
  --corporate-gold: #C4A000;   /* Prestige, wealth */
  --corporate-warm-beige: #D6C6B2;
	
  --Offwhite: #f9f9f9;
}

body{
	background-color: var(--DarkMossGreen);
}

.centre{
	text-align: center;
}

#navigation{
	width: 33%;
	margin:auto;
	background-color: var(--corporate-navy);
	
	display: grid;
	grid-template-columns: auto auto auto auto;
	border-top: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 1px solid black;
}


.navbutton{
	border-left: 2px solid black;
}
.navselected{
	background-color: var(--corporate-gold);
}
.navbutton:hover{
	color: var(--Offwhite);
}

.TextSection{
	width: 75%;
	background-color: var(--corporate-beige);
	border: 3px groove   var(--corporate-gray);
	
	margin: 10px auto 0px auto;
	
}